.ms_img_size {
    height: 50px;
}

.ms_bar {
    width: 80vw;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border: none;
    margin: auto;
 
}

.ms_bell{
    font-size: 20px;
    margin-right: 20px; 
    width: 100%; 
    
}

#ms_main {
    width: 100vw;
}

.ms_sidebar {
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}




.ms_content {
    background-color: blue;
    height: 200px;
    margin-left: 80px;
    padding: 1px 16px;
    
}






/* MEDIA QUERIES */

