.ms_img_size {
    height: 50px;
}

.ms_bar {
    width: 60vw;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    border: none;
}

#ms_main {

    background-color: rgb(20, 25, 34);
    height: 100vh;
    width: 100vw;
    

}

.ms_sidebar {
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}




.ms_content {
    background-color: blue;
    height: 200px;
    
}






/* MEDIA QUERIES */

