.ms_img_size {
    max-width: 60px;
}

.ms_bar {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: auto;
    
}

.ms_grey{
    background-color: rgb(229, 229, 229);

}

.ms_container_items i{
    margin: 0px 10px;

}

.ms_items{
    color: rgb(91, 88, 88);
}

.ms_bell{
    font-size: 20px;
    margin-right: 20px; 
    width: 100%; 
}

#ms_main {
    width: 100vw;
}

.ms_sidebar {
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}




.ms_content_top {
    background-color: blue;
    height: 400px;
    margin-left: 80px;
    padding: 1px 16px;
    
}


.ms_content_bot {
    
    margin-left: 100px;
    width: 90%;
}






/* MEDIA QUERIES */

@media screen and (max-width:576px) {
    nav .ms_img_desk{
        display: none;
    }

    .ms_container_items .ms_items{
        display: none;
    }



}

@media screen and (min-width:576px) {
    nav .ms_img_desk{
        display: none;
    }

    .ms_container_items .ms_items{
        display: none;
    }





}



@media screen and (min-width:768px) {
    nav .ms_img_desk{
        display: none;
    }

    .ms_container_items .ms_items{
        display: none;
    }




}

@media screen and (min-width:992px) {

    nav .ms_img_size{
        display: none;
    }


    nav .ms_img_desk{
        display: block;
    }

    .ms_container_items .ms_items{
        display: block;
    }





    main .ms_sidebar{
        width: 150px;
        margin: 0;
        padding: 0;
        background-color: black;
        position: fixed;
        height: 100%;
        overflow: auto;
    }
  
    
}

